.user-events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px; /* Space between cards */
    padding: 20px;
    background-color: #f5f6fa;
    margin: 2rem auto; /* Center grid horizontally */
    width: 88rem; /* Set max width for the grid */
}

.user-event-card h3 {
    padding-top: 12px;
    font-size: 20px;
    text-align: left;
}

.event-link {
    text-decoration: none; /* Remove underline */
}

.user-event-card {
    cursor: pointer;
    width: 20rem;
    text-align: left;
    background-color: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;/* Make each card take full height in its grid cell */
}

.user-event-card:hover {
    background-color: rgb(226, 241, 241);/* Zoom in effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly darker shadow on hover */
}
.user-image {
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}
.user-image:hover {
    transition: transform 0.3s ease
}
.event-image {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    height: 100%; 
    border-radius: 10px;/* Ensure the image fills the space without distortion */
    margin-bottom: 12px;
    transition: transform 0.3s ease
}
.user-event-card p {
    margin-top: 6px;
    font-size: 14px;
    color: #011c39;
    
}

.user-event-card .date {
    color: grey;
    font-size: 12px;
    margin-bottom: 12px;
    text-align: left;
}

.user-event-card button {
    background-color: white;
    color: #011c39;
    border: 1px solid grey;
    border-radius: 18px;
    height: 2.5rem;
    padding: 0 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: auto; /* Push button to bottom of card */
}

.user-event-card:hover button {
    background-color: #feb800; /* Change button color to yellow */
    color: #333; /* Optional: Change text color when button is hovered */
}
.user-event-card:hover .event-image {
    transform: scale(1.05);
}
.user-event-card .event-description {
    height: 15rem;
    margin-bottom: 20px;
    overflow: hidden;
}


.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-controls button {
    background-color: #011c39;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #feb800;
}

.sort-container .sort-label{
    margin-top: 1rem;
    margin-left: 2rem;
    }
.sort-container .event-sort{
    margin-left: 2rem;
    border-radius: .5rem;
}
.page-number.active {
    background-color: #feb800;
    color: #000;
    font-weight: bold;
    border-radius: 4px;
}
