/*Event Details*/
.content {
  flex: 1; 
  padding: 0;
  background-color: #F5F6FA;
  overflow-y: auto; 
   width: 100%;
}
/* Container for the entire event section */
.event-container {
  width: 30rem;
  max-width: 100%;
  box-sizing: border-box; 
  overflow: hidden;/* Include padding/border in element's total width */
}
  
  .card-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
    
  }
  
  .image-thumbnail {
    width: 100%;
    height: auto;
  }
  
  .details-section {
    padding: 15px;
    background-color: #fff;
    height: 40rem;
    border-radius: 20px;
  }
  .history-event-img {
    height: 15rem;
    width: 25rem;
    border-radius: 20px;
  }
  .title-heading {
    font-size: 1.5em;
    margin: 10px 20px 10px;
    color: #333;
  }
  
  .description-text {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
    max-height: 12rem;
    overflow: hidden;
  }
  
  .info-container {
    display: flex;
    gap: 15px;
    font-size: 0.9em;
    color: #555;
    flex-direction: column;
  }
  
  .info-container span {
    display: flex;
    align-items: center;
  }
  
  .info-container span svg {
    margin-right: 5px;
    color: #aaa;
  }
  .card-content h3 {
    font-size: 20px;
  }
  .chart, .table-container{
    margin: 20px;
  }
