/*Event Details*/
.content {
  flex: 1; 
  padding: 0;
  background-color: #F5F6FA;
  overflow-y: auto; 
}
/* Container for the entire event section */
.event-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; 
  overflow: hidden;/* Include padding/border in element's total width */
}
  
  .card-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .image-thumbnail {
    width: 100%;
    height: auto;
  }
  
  .details-section {
    padding: 15px;
    background-color: #fff;
  }
  
  .title-heading {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #333;
  }
  
  .description-text {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
  }
  
  .info-container {
    display: flex;
    gap: 15px;
    font-size: 0.9em;
    color: #555;
  }
  
  .info-container span {
    display: flex;
    align-items: center;
  }
  
  .info-container span svg {
    margin-right: 5px;
    color: #aaa;
  }
  .card-content h3 {
    font-size: 20px;
  }