.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal {
  background: white;
  border-radius: 1rem;
  width: 60rem;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.close {
  background: transparent;
  border: none;
  color: #dc3545;
  font-size: 24px;
  cursor: pointer;
}

.close:hover {
  color: #b02a2a;
}

.event-row{
  display: flex;
} 

.google-form-row{
  justify-content: start;
  display: flex;
  gap: 1rem;
  width: 60rem;
}

hr {
  margin: 1rem; /* Adjust margin as needed */
}

.event-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: none;
  background-color: white;
}

.event-form label {
  font-weight: 500;
  color: #444;
}

.event-form input,
.event-form textarea,
.event-form select,
.custom-form-control {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.error-outline {
  border: 1px solid #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

input[type="time"] {
  /* Customize appearance as needed */
  width: 100px; /* Adjust width */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.event-inputs {
  display: flex;
  gap: 1rem;
}

.event-inputs input {
  width: 50%;
 
}



.custom-form-control {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.custom-form-control:focus {
  border-color: #007bff;
  outline: none;
}

.location-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.location-input input {
  padding-right: 30px;
}

.location-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.event-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.event-close-button,
.event-save-button {
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 14px;
  min-width: 220px;
}

.event-close-button {
  background-color: #d9534f;
  color: #fff;
}

.event-close-button:hover {
  background-color: #c9302c;
}

.event-save-button {
  background-color: #5cb85c;
  color: #fff;
}

.event-save-button:hover {
  background-color: #449d44;
}

.reminder-options {
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
  gap: 5px;
} 

.reminder-options button {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
  transition: background-color 0.2s;
}

.reminder-options button:hover {
  background-color: #ddd;
}

.reminder-options button.active {
  background-color: #a7a7a7;
  color: white;
  border-color: #a7a7a7;
}

.cert-template-btn,
.invite-participants-btn {
  background-color: #fff;
  color: #141414;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
  text-align: center;
  background-color: #feb800;
}

.cert-template-btn:hover,
.invite-participants-btn:hover {
  color: #000;
  background-color: #c79202;
}

.upload-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem; /* Define the width */
  height: 15rem; /* Define the height */
  border: 1px solid #ddd; /* Optional border */
  border-radius: 1rem;
}

.upload-photo img {
  object-fit: cover; /* Maintain aspect ratio and fill container */
  padding: .5rem;
  max-width: 100%; /* Ensure image doesn't overflow container */
  max-height: 200px; /* Set a maximum height */
  
}

.camera-icon {
  font-size: 40px;
  color: #999;
  cursor: pointer;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-filter {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.participant-filter-custom {
  display: flex;
  flex-direction: column;
}

.filter-section-custom {
  gap: 10px;
}

.row-custom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.col-6-custom {
  flex: 1;
  margin-right: 8px;
}

.col-6-custom:last-child {
  margin-right: 0;
}

.card-list {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #ffffff;
  max-height: 300px;
  overflow-y: auto;
}


.participants-list {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-size: 14px;
}

.participant-item-list {
  list-style-type: none;
  padding: 8px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.participant-item-list:hover {
  background-color: #f0f0f0;
}


.selected-participant {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 1px 5px;
  font-size: 14px;
}

.participant-item {
  list-style-type: none;
  padding: 8px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.select-label{
  font-size: 25px;
}

.participant-info {
  display: flex;
  align-items: center;
}

.participant-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.participant-email {
  margin-right: 10px;
  flex-grow: 1;
  word-wrap: break-word;
}

.participant-item .cancel-btn {
  font-size: 20px;
  color: #666;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 15px;
}

.participant-item .cancel-btn:hover {
  color: #d9534f;
}
