.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal {
  background: white;
  border-radius: 8px;
  width: 500px;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.close {
  background: transparent;
  border: none;
  color: #dc3545;
  font-size: 24px;
  cursor: pointer;
}

.close:hover {
  color: #b02a2a;
}

.event-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.event-form label {
  font-weight: 500;
  color: #444;
}

.event-form input,
.event-form textarea,
.event-form select,
.custom-form-control {

  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.custom-form-control {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.custom-form-control:focus {
  border-color: #007bff;
  outline: none;
}

.location-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.location-input input {
  padding-right: 30px;
}

.location-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.close-button,
.save-button {
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.close-button {
  background-color: #d9534f;
  color: #fff;
}

.close-button:hover {
  background-color: #c9302c;
}

.save-button {
  background-color: #5cb85c;
  color: #fff;
}

.save-button:hover {
  background-color: #449d44;
}

.reminder-options {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.reminder-options button {
  padding: 5px 10px;
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
  transition: background-color 0.2s;
}

.reminder-options button:hover {
  background-color: #ddd;
}

.reminder-options button.active {
  background-color: #8d8d8d;
  color: white;
  border-color: #333;
}

.cert-template-btn,
.invite-participants-btn {
  background-color: #fff;
  color: #141414;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
  text-align: center;
  background-color: #feb800;
}

.cert-template-btn:hover,
.invite-participants-btn:hover {
  color: #000;
  background-color: #c79202;
}

.upload-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.camera-icon {
  font-size: 40px;
  color: #999;
  cursor: pointer;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
}



/*FILTER CSS*/

.card-filter {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;

}

.participant-filter-custom {
  display: flex;
  flex-direction: column;

}

.filter-section-custom {
  gap: 10px;
}

.row-custom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.col-6-custom {
  flex: 1;
  margin-right: 8px;
}

.col-6-custom:last-child {
  margin-right: 0;
}


.card-list {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #ffffff;
  max-height: 300px;
  overflow-y: auto;
}

.participant-list-group {
  list-style-type: none;
  font-size: 12px;

}
.participant-item {
  padding: 8px;
  border-bottom: 1px solid #eaeaea;
}

.participant-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.participant-label span {
  flex: 1;
}

.participant-label input[type="checkbox"] {
  margin-left: 50px;
}