.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Increased min width */
    gap: 24px; /* Increased gap for spacing */
    padding: 20px;
    background-color: rgb(253, 253, 253);
    margin: 2rem 8rem; /* Margin top/bottom and left/right */
    
}
.event-card h3{
    color: black;
}
.event-item {
    cursor: pointer;
    text-align: center;
    background-color: white;
    padding: 20px; /* Increased padding for better spacing */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better look */
}

.event-item img {
    width: 15rem; /* Increased image size */
    max-height: 15rem;
    border-radius: 8px;
}

.event-item p {
    margin-top: 12px; /* Increased margin-top */
    font-size: 1.25rem; /* Increased font size */
    color: #333;
    text-decoration: none;
}