

  /*Topbar=================================================================*/

  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #011c39;
    color: #fff;
    width: 100%;
    margin: 0;
    position:relative;
    height: 4rem;
  }

  .search-admin {
    position: relative;
    width: 450px;
    padding: 10px;
  }

  .search-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
  }

  .search-admin input[type="text"] {
    width: 100%;
    padding: 8px 8px 8px 30px; /* Extra padding for icon space */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
  }
/* Topbar =========================================================================================================================== */
.profile {
  width: 50px; /* Set width for the container */
  height: 50px; /* Set height for the container */
  overflow: hidden; /* Hide overflow to maintain the circular shape */
  border-radius: 200%; /* Make it a circle */
}

.profile img {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Keep aspect ratio */
  object-fit: cover; /* Ensure the image fits within the circle */
}
.notification {
  margin-right: 30px; /* Adjust as necessary */
  cursor: pointer;
  color: #FFB800; /* Choose a color that suits your design */
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info .user-details span {
  font-size: 14px;
}
.notification-badge {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}

.notification-modal {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #011c39;
}

.notification-list {
  list-style: none;
  margin: 0;
  padding: 10px;
  color: #011c39;
}

.notification-item {
  padding: 8px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.notification-item:hover {
  background-color: #f9f9f9;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


