.header-container {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
}

.filter-header {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.filter {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.filter label {
    margin-bottom: 5px;
    font-weight: bold;
}

.filter select {
    padding: 8px 2px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    transition: border-color 0.3s;
    width: 100px;
    margin: 0;
}

.filter select:focus {
    border-color: #80bdff;
    outline: none;
}

.filter select:hover {
    border-color: #80bdff;
}


.table {
    width: 100%;
    border-collapse: separate;
    border-radius: 10px;
    border: 2px solid #dee2e6;
    overflow: hidden;
    border-radius: 20px;

}

.table th {
    background-color: #f8f9fa;
    color: #495057;
    font-weight: bold;
    padding: 12px;
    text-align: left;
}


.table td {
    padding: 15px;
    text-align: left;
}








.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligns the label and the filter vertically */
  }
  
  .filter-role, .filter-department, .filter-status {
    background-color: transparent;
    border: none;
    font-size: 14px;
    width: 10px; /* Adjust width as needed */
    padding: 8px;
   
  }

  .filter-role {
    border-color: #4CAF50; /* Green border for role filter */
  }
  
  .filter-department {
    border-color: #2196F3; /* Blue border for department filter */
  }
  
  .filter-status {
    border-color: #FF5722; /* Orange border for status filter */
  }

  .filter-role:focus, .filter-department:focus, .filter-status:focus {
    border-color: transparent; /* Or choose any color you prefer */
    outline: none; /* Optional: Removes the default outline */
  }
  



.user-heading {
    padding: 10px 20px;
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    border-radius: 5px;
}

.table-container {
    margin: 20px;
    max-width: 100%;
    overflow: hidden; /* Prevent the container from having its own scrollbar */
   
}




.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #011c39;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }

  .pagination button:hover {
    background-color: #feb800; /* Changes color on hover */
    
  }
 
  
  .pagination button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  
  .pagination span {
    padding: 8px 16px;
    font-size: 14px;
  }

  .row-selected {
    background-color: #d1d1d1; /* Light cyan background for selected rows */
  }



.profile-container {
    display: flex;
    align-items: center; /* Aligns image and text vertically */
  }
  
  .profile-image {
    margin-right: 10px; /* Adjust the gap between image and name */
    width: 30px; /* Example width, adjust as needed */
    height: 30px; /* Example height, adjust as needed */
    border-radius: 50%; /* Optional: To make the image circular */
  }
/* For action buttons and table controls */
.table_edit,
.table_delete,
.table_save,
.table_cancel {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 8px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
    font-size: 12px;
    height: 30px;
    width: 30px;
    justify-content: center;
    flex-shrink: 0;
}

.table_edit:hover {
    background-color: #0056b3;
}

.table_delete,
.table_cancel {
    background-color: #dc3545;
}

.table_delete:hover {
    background-color: #c82333;
}

.table_save {
    background-color: #32b35d;
}

.table_save:hover {
    background-color: rgb(39, 143, 94);
}

